@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'ES Rebond Grotesque';
  font-weight: 600;
  src: url(/public/fonts/ESRebondGrotesque-Semibold.ttf);
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  min-height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 20px;
  font-weight: 600;
}

h2 {
  font-size: 16px;
  font-weight: 500;
  color: #666666;
}

p,
a {
  color: #000;
}

.body-big {
  font-size: 18px;
  font-weight: 400;
  color: #6a6a6a;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav-wrap {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;

  font-size: 16px;
  padding: 48px 64px;
  height: 80px;

  border-bottom: 2px solid #f2f2f2;

  background: #fff;
  z-index: 1;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.logo-wrap {
  font-family: 'ES Rebond Grotesque';
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
}

.logo-wrap h1 {
  font-size: 24px;
}

.content-wrap {
  /* display: flex; */
  /* flex-direction: row; */
  flex-grow: 1;
}

.left {
  position: fixed;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;

  padding: 128px 64px 40px 64px;

  height: 100vh;
  width: 50vw;
  left: 0;
  top: 0;
}

.right {
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 80px;

  height: 100vh;
  width: 50vw;
  bottom: 0;
  margin: 0;
  right: 0;
  background-color: #f2f2f2;
}

.form-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome-message {
  margin-left: 16px;
  margin-bottom: 32px;
}

.input-wrap {
  position: relative;
  padding-bottom: 24px;
  font-size: 16px;
}

.input-wrap label {
  position: absolute;
  top: -8px;
  left: 20px;

  font-size: 12px;
  font-weight: 600;
  color: #000000;

  padding: 0 4px;
  background-color: white;
}

.input {
  display: block;
  box-sizing: border-box;
  padding: 12px;
  width: 100%;
  border: 2px solid #dcdcdc;
  border-radius: 1rem;
  font-family: inherit;
  resize: none;
  line-height: 1.75;
  transition: 100ms all ease-in-out;
}

.input:focus {
  outline: 2px solid #c850c0;
  outline-offset: -2px;
}

.input-error {
  outline: 2px solid #ff4342;
  outline-offset: -2px;
}

.input-error:focus {
  outline: 2px solid #ff4342;
  outline-offset: -2px;
}

.input-wrap-error label {
  color: #ff4342;
}

::-webkit-input-placeholder {
  color: #7b7b7b;
}

.input.small {
  height: 56px;
}

.input.large {
  height: 220px;
}

.disabled {
  cursor: not-allowed !important;
}

.disabled:hover {
  scale: 1 !important;
}

/* Mint detail info - price, gas etc. */

.mint-button-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mint-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 12px;

  font-size: 14px;
  font-weight: 500;
}

.mint-info-right {
  padding-right: 24px;
}

.mint-info-left {
  padding-left: 24px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 32px;

  font-size: 14px;
  font-weight: 400;
  color: #969696;
}

.footer a {
  color: #969696;
}

.mint-button {
  cursor: pointer;
  padding: 8px;
  height: 54px;
  border: 0;
  border-radius: 1rem;
  background: #c850c0;
  font-size: 16px;
  font-weight: 600;
  width: 100%;

  color: #fff;
  transition: all 0.25s ease;
}

.mint-button:hover {
  scale: 1.025;
}

.connected {
  background: linear-gradient(
    45deg,
    #4158d0 -8.56%,
    #c850c0 50.53%,
    #ffcc70 113.44%
  );
}

.message-export {
  position: relative;
}

.message-wrap {
  display: flex;
  flex-direction: column;

  position: relative;
  width: 480px;
  height: 380px;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.05);
  overflow: hidden;

  outline: 1px solid #dedede;
  outline-offset: -1px;
}

.message-header {
  font-family: 'ES Rebond Grotesque';
  font-size: 20px;
  font-weight: 600;

  padding: 16px 0;
  background: #c850c0;
  outline: 2px solid #c850c0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-body {
  padding: 20px 24px 24px 24px;
  outline: 1px solid rgba(200, 80, 192, 0.2);
  outline-offset: -1px;
  border-radius: 0 0 16px 16px;
  flex-grow: 1;
  justify-content: space-between;
}

.message-header p {
  color: white;
}

.message-from {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
}

.from-left {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.from-left p:first-of-type {
  color: #7b7b7b !important;
}

.from-right {
  color: #7b7b7b;
}

.message-separator {
  width: 100%;
  height: 1px;
  background: #e0e0e0;
  margin: 20px 0 20px 0;
}

.message-message {
  font-weight: 500;
  font-size: 16px;
  text-align: left;
  line-height: 150%;
}

.message-footer {
  position: absolute;
  bottom: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 8px;
  font-size: 14px;
}

.message-footer p:first-of-type {
  color: #7b7b7b;
  font-weight: 500;
  line-height: 100%;
}

.tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;

  padding: 2px 8px;
  background: #f2f2f2;
  border-radius: 100px;

  font-weight: 500;
  font-size: 14px;

  color: #7e7e7e;
}

.tag img {
  height: 10px;
}

.tag span {
  margin-bottom: 2px;
}

@media (max-width: 1024px) {
  body {
    overflow: visible;
  }

  .left {
    position: relative;
    width: 100vw;
    overflow: hidden;
    padding-top: 40px;
    height: auto;
  }

  .right {
    position: relative;
    width: 100vw;
    padding: 40px 64px;
    height: auto;
  }

  .footer {
    margin-top: 24px;
  }
}

@media (max-width: 750px) {
  .left {
    padding: 40px 24px;
  }

  .right {
    padding: 40px 24px;
  }

  .nav-wrap {
    padding: 48px 24px;
  }

  .message-export {
    scale: 0.95;
  }
}

@media (max-width: 474px) {
  .message-export {
    scale: 0.7;
  }
  .connect-nav-wrap {
    font-size: 14px;
  }

  .logo-wrap h1 {
    font-size: 22px;
  }
}
