@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@font-face {
    font-family: "ES Rebond Grotesque";
    font-weight: 600;
    src: url(/public/fonts/ESRebondGrotesque-Semibold.ttf);
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    min-height: 100vh;
}

h1 {
    font-size: 20px;
    font-weight: 600;
    /* color: #6A6A6A; */
    /* padding-bottom: 8px; */
}

h2 {
    font-size: 16px;
    font-weight: 500;
    color: #666666;
}

p a {
    color: #000
}

.body-big {
    font-size: 18px;
    font-weight: 400;
    color: #6A6A6A;
}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;

    font-size: 16px;
    padding: 48px 64px;
    height: 80px;

    border-bottom: 2px solid #F2F2F2;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo-wrap {
    font-family: 'ES Rebond Grotesque';
    font-size: 24px;
    font-weight: 600;
}

.ethName {
    text-decoration: none;
}

.nav-wrap {
    display: flex;
    align-items: center;
    gap: 16px;

}

header button.connect {
    padding: 10px 16px;
    height: 40px;
    background: #8F37FF;
    border-radius: 12px;
    border: none;

    cursor: pointer;

    color: #FFFFFF;
    font-weight: 600;
    line-height: 1;
}

header button.menu {
    padding: 10px;
    width: 40px;
    height: 40px;

    background: #F2F2F2;
    border-radius: 12px;
    border: none;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    cursor: pointer;

}

main {
    height: 100vh;
    flex-direction: column;
    display: flex;
}

.contentWrapper {
  display: flex;
  flex-grow: 1;
}

.dataContainer {
    width: 50vw;
    padding: 40px 64px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.previewContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50vw;
    background-color: #f2f2f2;
}

.introWrap {
    margin-left: 24px;
    margin-bottom: 32px;
}

.mintButton {
  cursor: pointer;
  padding: 8px;
  height: 56px;
  border: 0;
  border-radius: 16px;
  background: linear-gradient(45deg, #4158D0 -8.56%, #C850C0 50.53%, #FFCC70 113.44%);
  
  font-size: 16px;
  font-weight: 600;

  color: #fff;
}

.disabled {
    opacity: 0.5;
  }

.connected {
  cursor: default;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  background-color: #f2f2f2;
  font-size: 14px;
}

.formWrap {
    margin-bottom: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textWrapper {
    position: relative;
    padding-bottom: 24px;
    font-size: 16px;
}

.textWrapper label {
    position:absolute;
    top:-8px;
    left:20px;

    font-size: 12px;
    font-weight: 600;
    color: #000000;

    padding: 0 4px;
    background-color:white;
}

.textAreaSmall {
	display: block;
	box-sizing: border-box;
	padding: 12px;
	width: 100%;
	height: 56px;
	border: 2px solid #dcdcdc;
	border-radius: 16px;
	font-family: inherit;
}

.textAreaLarge {
	display: block;
	box-sizing: border-box;
	padding: 12px;
	width: 100%;
	height: 224px;
	border: 2px solid #dcdcdc;
	border-radius: 16px;
	font-family: inherit;
}

.formSub {
    padding-bottom: 24px;
}

.mintButtonWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mintInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 12px;

    font-size: 14px;
    font-weight: 500;
}

.mintInfoRight {
    padding-right: 24px;
}

.mintInfoLeft {
    padding-left: 24px;
}

.base {
    font-size: 16px

}

.svgWrap {
    /* width: 50%; */

}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 14px;
    font-weight: 400;
    color: #969696;
}

.footer a {
    color: #969696;
}